#page {
  background: #56494c;
  color:#FEFEFE;
}
img {
  max-width: 400px;
}
label,
select {
  display: block;
  margin: 0 auto;
  text-align: center;
}
label {
  margin-top: 12px;
}
select {
   background-color:#D1D1D1;
 }
#partybutton {
   background-color:#8DDBE0;
   color:#00000a;
   /* background-color:#F0803C; */
}
/* div {
   border: 1px solid black;
} */
